<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="jokes">
        <div class="centered">
            <h1>Joke Manager</h1>
            <form action="/addjokes" method="post">
                <input type="text" name="name" placeholder="Name" required>
                <br><br>
                <input type="text" name="joke" placeholder="Joke" required>
                <br><br>
                <input type="submit" value="submit">
            </form>
        
            
        </div>
        </div>
        
   


    
</body>
</html>