<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="centered">
        <h1>Knock, Knock.</h1>
        <h2>Who's there?</h2>
        <h1><%=user.name %></h1>
        <h1> Welcomee <%=user.name %> to this laughing community</h1>
    </div>
    
</body>
</html>